.media-object {
    width: 50px;
}

.media-body{
    width:100%
}

.box-info{
    width:500px !important
}

button{
    margin:5px !important;
    margin-bottom:10px !important; 
}
comment-box{
    margin:10px ;
    margin-bottom:15px !important;
    padding:10px !important
}